In [1]:
pwd

'/Users/jamilah/Python/Marketing Data'

In [2]:
pwd

'/Users/jamilah/Python'

In [159]:
import pandas as pd

In [160]:
file_path= "/Users/jamilah/Python/marketing_campaign_data_py.csv"

In [161]:
df = pd.read_csv(file_path)
print ("CSV file has been successfully read in.")

CSV file has been successfully read in.

In [162]:
print(df)

           Date   Campaign Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue       Cost            Region AdCreative
0       $3,910.74  $2,101.08     East Midlands  CreativeC
1      $11,700.93  $6,955.66     East Midlands  CreativeC
2       $9,756.09  $1,471.76        North East  CreativeB
3       $4,341.76    $101.55            London  CreativeC
4       $8,860.43  $1,337.07     West Midlands  CreativeA
...           ...        ...               ...        ...
19995     $803.95  $1,461.74  Northern Ireland  CreativeA
19996   $7,311.93  $4,559.23            London  CreativeC
19997   $3,601.11  $3,650.29          Scotland  CreativeB
19998   $7,372.90    $323.18     West Midlands  CreativeB
19999   $8,721.89  $6,925.09            London  CreativeC

[20000 rows x 10 columns]

In [163]:
print(df.columns)

Index(['Date', 'Campaign', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Cost', 'Region', 'AdCreative'],
      dtype='object')

In [164]:
df.head()

,Date,Campaign,Campaign Type,Impressions,Clicks,Conversions,Revenue,Cost,Region,AdCreative
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA

In [165]:
 df.rename(columns={'Date': 'Day', 'Cost': 'Spend','Campaign': 'Platform'}, inplace=True)
print ("Column names campaign, date and cost have been renamed")

Column names campaign, date and cost have been renamed

In [166]:
df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA

In [169]:
df['CTR'] = (df['Clicks'] / df['Impressions'])*100
print ("CTR column has been created.")



df['Spend'] = df['Spend'].str.replace('[\$,]',"",regex=True)

df["CPA"] = df["Spend"]/df["Conversions"]
print ("CPA column has been created")




df['CPC']= df['Spend']/ df['Clicks']
print("CPC column has been created")

print(df.columns)

CTR column has been created.

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [107]:
print(df)

            Day   Platform          Campaign Name Campaign Type  Impressions  \
0      01/01/23   SnapChat   SnapChat-Retargeting   Retargeting       102704
1      01/01/23    YouTube    YouTube-Retargeting   Retargeting        83904
2      01/01/23     TikTok     TikTok-Prospecting   Prospecting        77023
3      01/01/23    YouTube    YouTube-Retargeting   Retargeting        34385
4      01/01/23    YouTube    YouTube-Prospecting   Prospecting        78641
...         ...        ...                    ...           ...          ...
19995  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        91465
19996  29/11/23   Facebook   Facebook-Prospecting   Prospecting        15414
19997  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        68686
19998  29/11/23  Instagram  Instagram-Retargeting   Retargeting        91967
19999  30/11/23   Facebook   Facebook-Prospecting   Prospecting        51634

       Clicks  Conversions     Revenue    Spend            Region AdCreative  \
0        1593          157   $3,910.74  2101.08     East Midlands  CreativeC
1        1798          110  $11,700.93  6955.66     East Midlands  CreativeC
2        2644          261   $9,756.09  1471.76        North East  CreativeB
3        1570           42   $4,341.76   101.55            London  CreativeC
4        2731           11   $8,860.43  1337.07     West Midlands  CreativeA
...       ...          ...         ...      ...               ...        ...
19995    1201           46     $803.95  1461.74  Northern Ireland  CreativeA
19996     134          173   $7,311.93  4559.23            London  CreativeC
19997    1964          134   $3,601.11  3650.29          Scotland  CreativeB
19998     365           29   $7,372.90   323.18     West Midlands  CreativeB
19999     294          208   $8,721.89  6925.09            London  CreativeC

            CTR         CPA        CPC         CPM
0      1.551059   13.382675   1.318945   20.457626
1      2.142925   63.233273   3.868554   82.900219
2      3.432741    5.638927   0.556641   19.108059
3      4.565944    2.417857   0.064682    2.953323
4      3.472743  121.551818   0.489590   17.002200
...         ...         ...        ...         ...
19995  1.313071   31.776957   1.217102   15.981414
19996  0.869340   26.353931  34.024104  295.785001
19997  2.859389   27.240970   1.858600   53.144600
19998  0.396881   11.144138   0.885425    3.514087
19999  0.569392   33.293702  23.554728  134.118798

[20000 rows x 15 columns]

In [108]:
df['CPM']= (df['Spend']/ df['Impressions']) *1000
print("Campaign Name column has been created")

Campaign Name column has been created

In [109]:
print(df)

            Day   Platform          Campaign Name Campaign Type  Impressions  \
0      01/01/23   SnapChat   SnapChat-Retargeting   Retargeting       102704
1      01/01/23    YouTube    YouTube-Retargeting   Retargeting        83904
2      01/01/23     TikTok     TikTok-Prospecting   Prospecting        77023
3      01/01/23    YouTube    YouTube-Retargeting   Retargeting        34385
4      01/01/23    YouTube    YouTube-Prospecting   Prospecting        78641
...         ...        ...                    ...           ...          ...
19995  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        91465
19996  29/11/23   Facebook   Facebook-Prospecting   Prospecting        15414
19997  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        68686
19998  29/11/23  Instagram  Instagram-Retargeting   Retargeting        91967
19999  30/11/23   Facebook   Facebook-Prospecting   Prospecting        51634

       Clicks  Conversions     Revenue    Spend            Region AdCreative  \
0        1593          157   $3,910.74  2101.08     East Midlands  CreativeC
1        1798          110  $11,700.93  6955.66     East Midlands  CreativeC
2        2644          261   $9,756.09  1471.76        North East  CreativeB
3        1570           42   $4,341.76   101.55            London  CreativeC
4        2731           11   $8,860.43  1337.07     West Midlands  CreativeA
...       ...          ...         ...      ...               ...        ...
19995    1201           46     $803.95  1461.74  Northern Ireland  CreativeA
19996     134          173   $7,311.93  4559.23            London  CreativeC
19997    1964          134   $3,601.11  3650.29          Scotland  CreativeB
19998     365           29   $7,372.90   323.18     West Midlands  CreativeB
19999     294          208   $8,721.89  6925.09            London  CreativeC

            CTR         CPA        CPC         CPM
0      1.551059   13.382675   1.318945   20.457626
1      2.142925   63.233273   3.868554   82.900219
2      3.432741    5.638927   0.556641   19.108059
3      4.565944    2.417857   0.064682    2.953323
4      3.472743  121.551818   0.489590   17.002200
...         ...         ...        ...         ...
19995  1.313071   31.776957   1.217102   15.981414
19996  0.869340   26.353931  34.024104  295.785001
19997  2.859389   27.240970   1.858600   53.144600
19998  0.396881   11.144138   0.885425    3.514087
19999  0.569392   33.293702  23.554728  134.118798

[20000 rows x 15 columns]

In [110]:
df['Campaign Name']= df['Platform'] + "-" + df['Campaign Type']
print ("Campaign Name column has been created")

Campaign Name column has been created

In [111]:
print(df)

            Day   Platform          Campaign Name Campaign Type  Impressions  \
0      01/01/23   SnapChat   SnapChat-Retargeting   Retargeting       102704
1      01/01/23    YouTube    YouTube-Retargeting   Retargeting        83904
2      01/01/23     TikTok     TikTok-Prospecting   Prospecting        77023
3      01/01/23    YouTube    YouTube-Retargeting   Retargeting        34385
4      01/01/23    YouTube    YouTube-Prospecting   Prospecting        78641
...         ...        ...                    ...           ...          ...
19995  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        91465
19996  29/11/23   Facebook   Facebook-Prospecting   Prospecting        15414
19997  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        68686
19998  29/11/23  Instagram  Instagram-Retargeting   Retargeting        91967
19999  30/11/23   Facebook   Facebook-Prospecting   Prospecting        51634

       Clicks  Conversions     Revenue    Spend            Region AdCreative  \
0        1593          157   $3,910.74  2101.08     East Midlands  CreativeC
1        1798          110  $11,700.93  6955.66     East Midlands  CreativeC
2        2644          261   $9,756.09  1471.76        North East  CreativeB
3        1570           42   $4,341.76   101.55            London  CreativeC
4        2731           11   $8,860.43  1337.07     West Midlands  CreativeA
...       ...          ...         ...      ...               ...        ...
19995    1201           46     $803.95  1461.74  Northern Ireland  CreativeA
19996     134          173   $7,311.93  4559.23            London  CreativeC
19997    1964          134   $3,601.11  3650.29          Scotland  CreativeB
19998     365           29   $7,372.90   323.18     West Midlands  CreativeB
19999     294          208   $8,721.89  6925.09            London  CreativeC

            CTR         CPA        CPC         CPM
0      1.551059   13.382675   1.318945   20.457626
1      2.142925   63.233273   3.868554   82.900219
2      3.432741    5.638927   0.556641   19.108059
3      4.565944    2.417857   0.064682    2.953323
4      3.472743  121.551818   0.489590   17.002200
...         ...         ...        ...         ...
19995  1.313071   31.776957   1.217102   15.981414
19996  0.869340   26.353931  34.024104  295.785001
19997  2.859389   27.240970   1.858600   53.144600
19998  0.396881   11.144138   0.885425    3.514087
19999  0.569392   33.293702  23.554728  134.118798

[20000 rows x 15 columns]

In [112]:
res = isinstance("Spend", str)

In [113]:
print("Is variable a string ? : " + str(res))

Is variable a string ? : True

In [128]:
df['Spend'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)
df['CPA'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)
df['Revenue'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)
df['CPC'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)
df['CPM'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)

AttributeError: Can only use .str accessor with string values!

In [126]:
df['CPA'] = '£' + df['CPA'].apply(lambda x: '{:.2f}'.format(x))
df['CPC'] = '£' + df['CPC'].apply(lambda x: '{:.2f}'.format(x))
df['CPM'] = '£' + df['CPM'].apply(lambda x: '{:.2f}'.format(x))

df.head()

ValueError: Unknown format code 'f' for object of type 'str'

In [127]:
df_snapchat = df[df['Platform'] == 'Snapchat']
df_instagram = df[df['Platform'] == 'Instagram']
df_tiktok = df[df['Platform'] == 'Tiktok']
df_youtube = df[df['Platform'] == 'Youtube']

In [114]:
df.columns

Index(['Day', 'Platform', 'Campaign Name', 'Campaign Type', 'Impressions',
       'Clicks', 'Conversions', 'Revenue', 'Spend', 'Region', 'AdCreative',
       'CTR', 'CPA', 'CPC', 'CPM'],
      dtype='object')

In [115]:
df= df[['Day', 'Platform','Campaign Name', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Spend', 'Region', 'AdCreative', 'CTR', 'CPA',
       'CPC', 'CPM']]
print("Columns have been successfully re-ordered")

Columns have been successfully re-ordered

In [116]:
df.head

<bound method NDFrame.head of             Day   Platform          Campaign Name Campaign Type  Impressions  \
0      01/01/23   SnapChat   SnapChat-Retargeting   Retargeting       102704
1      01/01/23    YouTube    YouTube-Retargeting   Retargeting        83904
2      01/01/23     TikTok     TikTok-Prospecting   Prospecting        77023
3      01/01/23    YouTube    YouTube-Retargeting   Retargeting        34385
4      01/01/23    YouTube    YouTube-Prospecting   Prospecting        78641
...         ...        ...                    ...           ...          ...
19995  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        91465
19996  29/11/23   Facebook   Facebook-Prospecting   Prospecting        15414
19997  29/11/23   SnapChat   SnapChat-Prospecting   Prospecting        68686
19998  29/11/23  Instagram  Instagram-Retargeting   Retargeting        91967
19999  30/11/23   Facebook   Facebook-Prospecting   Prospecting        51634

       Clicks  Conversions     Revenue    Spend            Region AdCreative  \
0        1593          157   $3,910.74  2101.08     East Midlands  CreativeC
1        1798          110  $11,700.93  6955.66     East Midlands  CreativeC
2        2644          261   $9,756.09  1471.76        North East  CreativeB
3        1570           42   $4,341.76   101.55            London  CreativeC
4        2731           11   $8,860.43  1337.07     West Midlands  CreativeA
...       ...          ...         ...      ...               ...        ...
19995    1201           46     $803.95  1461.74  Northern Ireland  CreativeA
19996     134          173   $7,311.93  4559.23            London  CreativeC
19997    1964          134   $3,601.11  3650.29          Scotland  CreativeB
19998     365           29   $7,372.90   323.18     West Midlands  CreativeB
19999     294          208   $8,721.89  6925.09            London  CreativeC

            CTR         CPA        CPC         CPM
0      1.551059   13.382675   1.318945   20.457626
1      2.142925   63.233273   3.868554   82.900219
2      3.432741    5.638927   0.556641   19.108059
3      4.565944    2.417857   0.064682    2.953323
4      3.472743  121.551818   0.489590   17.002200
...         ...         ...        ...         ...
19995  1.313071   31.776957   1.217102   15.981414
19996  0.869340   26.353931  34.024104  295.785001
19997  2.859389   27.240970   1.858600   53.144600
19998  0.396881   11.144138   0.885425    3.514087
19999  0.569392   33.293702  23.554728  134.118798

[20000 rows x 15 columns]>

In [117]:
df.to_csv('lesson20task.csv')

In [118]:
print("CSV file marketing campaign has been saved successfully")

CSV file marketing campaign has been saved successfully

In [119]:
statistics = df.describe()
print(statistics)

        Impressions       Clicks   Conversions         Spend           CTR  \
count   20000.00000  20000.00000  20000.000000  20000.000000  20000.000000
mean    50381.32740   1299.40235     98.572150   3186.437726      6.205406
std     29825.02892    998.95896     77.277841   2140.147373     15.779745
min       802.00000      4.00000      6.000000     70.170000      0.004430
25%     25009.00000    361.00000     35.000000   1473.960000      0.868895
50%     49386.50000   1164.00000     67.000000   2803.450000      2.408600
75%     73852.25000   1994.00000    161.000000   4362.440000      5.164275
max    119942.00000   3998.00000    299.000000   8996.270000    368.087215

                CPA           CPC           CPM
count  20000.000000  20000.000000  20000.000000
mean      77.592342     10.882004    154.245982
std      121.223967     36.780602    371.152942
min        0.317491      0.031594      0.733357
25%       14.941866      1.152305     29.068767
50%       35.278288      2.582182     60.189187
75%       87.285100      7.250964    128.081584
max     1498.455000   1167.018333   8889.024691