# Import packages

In [1]:
pwd

'/Users/jamilah/Python/Marketing'

# Read in file(s)

In [2]:
import pandas as pd
file_path= "/Users/jamilah/Python/Marketing/marketing_campaign_data_py.csv"

df = pd.read_csv(file_path)
print ("CSV file has been successfully read in.")

CSV file has been successfully read in.

# Verify df(s)

In [3]:
print(df)

           Date   Campaign Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue       Cost            Region AdCreative
0       $3,910.74  $2,101.08     East Midlands  CreativeC
1      $11,700.93  $6,955.66     East Midlands  CreativeC
2       $9,756.09  $1,471.76        North East  CreativeB
3       $4,341.76    $101.55            London  CreativeC
4       $8,860.43  $1,337.07     West Midlands  CreativeA
...           ...        ...               ...        ...
19995     $803.95  $1,461.74  Northern Ireland  CreativeA
19996   $7,311.93  $4,559.23            London  CreativeC
19997   $3,601.11  $3,650.29          Scotland  CreativeB
19998   $7,372.90    $323.18     West Midlands  CreativeB
19999   $8,721.89  $6,925.09            London  CreativeC

[20000 rows x 10 columns]

# Reorder Columns

In [4]:
print(df.columns)

Index(['Date', 'Campaign', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Cost', 'Region', 'AdCreative'],
      dtype='object')

In [5]:
 df.rename(columns={'Date': 'Day', 'Cost': 'Spend','Campaign': 'Platform'}, inplace=True)
print ("Column names campaign, date and cost have been renamed")

Column names campaign, date and cost have been renamed

# Data Cleaning and Transformation

In [7]:
df['Spend'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)
df['CPA'] = df['Spend'] / df['Conversions']

df['CTR'] = df['Clicks'] / df['Impressions']
print ("CTR column has been created.")

df['CPC']= df['Spend']/ df['Clicks']
print("CPC column has been created")

df['CPM']= (df['Spend']/ df['Impressions']) *1000
print("CPM column has been created")

df['Campaign Name']= df['Platform'] + "-" + df['Campaign Type']
print ("Campaign Name column has been created")

CTR column has been created.
CPC column has been created
CPM column has been created
Campaign Name column has been created

# Checking types and also turning CPA, CPC and CPM into currency

In [8]:
df.dtypes

Day               object
Platform          object
Campaign Type     object
Impressions        int64
Clicks             int64
Conversions        int64
Revenue           object
Spend            float64
Region            object
AdCreative        object
CPA              float64
CTR              float64
CPC              float64
CPM              float64
Campaign Name     object
dtype: object

In [ ]:
df['CPA'] = '£' + df['CPA'].apply(lambda x: '{:.2f}'.format(x))
df['CPC'] = '£' + df['CPC'].apply(lambda x: '{:.2f}'.format(x))
df['CPM'] = '£' + df['CPM'].apply(lambda x: '{:.2f}'.format(x))

In [10]:
print(df)

            Day   Platform Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue    Spend            Region AdCreative      CPA       CTR  \
0       $3,910.74  2101.08     East Midlands  CreativeC   £13.38  0.015511
1      $11,700.93  6955.66     East Midlands  CreativeC   £63.23  0.021429
2       $9,756.09  1471.76        North East  CreativeB    £5.64  0.034327
3       $4,341.76   101.55            London  CreativeC    £2.42  0.045659
4       $8,860.43  1337.07     West Midlands  CreativeA  £121.55  0.034727
...           ...      ...               ...        ...      ...       ...
19995     $803.95  1461.74  Northern Ireland  CreativeA   £31.78  0.013131
19996   $7,311.93  4559.23            London  CreativeC   £26.35  0.008693
19997   $3,601.11  3650.29          Scotland  CreativeB   £27.24  0.028594
19998   $7,372.90   323.18     West Midlands  CreativeB   £11.14  0.003969
19999   $8,721.89  6925.09            London  CreativeC   £33.29  0.005694

          CPC      CPM          Campaign Name
0       £1.32   £20.46   SnapChat-Retargeting
1       £3.87   £82.90    YouTube-Retargeting
2       £0.56   £19.11     TikTok-Prospecting
3       £0.06    £2.95    YouTube-Retargeting
4       £0.49   £17.00    YouTube-Prospecting
...       ...      ...                    ...
19995   £1.22   £15.98   SnapChat-Prospecting
19996  £34.02  £295.79   Facebook-Prospecting
19997   £1.86   £53.14   SnapChat-Prospecting
19998   £0.89    £3.51  Instagram-Retargeting
19999  £23.55  £134.12   Facebook-Prospecting

[20000 rows x 15 columns]

# Changing Revenue from $ to £ and changing spend to currency

In [17]:
df['Revenue'] = df['Revenue'].str.replace('$', '£')
df['Spend'] = '£' + df['Spend'].astype(str)

# Verify df(s)

In [20]:
print(df)

            Day   Platform Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

            Revenue     Spend            Region AdCreative      CPA       CTR  \
0       £3,910.74££  £2101.08     East Midlands  CreativeC   £13.38  0.015511
1      £11,700.93££  £6955.66     East Midlands  CreativeC   £63.23  0.021429
2       £9,756.09££  £1471.76        North East  CreativeB    £5.64  0.034327
3       £4,341.76££   £101.55            London  CreativeC    £2.42  0.045659
4       £8,860.43££  £1337.07     West Midlands  CreativeA  £121.55  0.034727
...             ...       ...               ...        ...      ...       ...
19995     £803.95££  £1461.74  Northern Ireland  CreativeA   £31.78  0.013131
19996   £7,311.93££  £4559.23            London  CreativeC   £26.35  0.008693
19997   £3,601.11££  £3650.29          Scotland  CreativeB   £27.24  0.028594
19998   £7,372.90££   £323.18     West Midlands  CreativeB   £11.14  0.003969
19999   £8,721.89££  £6925.09            London  CreativeC   £33.29  0.005694

          CPC      CPM          Campaign Name
0       £1.32   £20.46   SnapChat-Retargeting
1       £3.87   £82.90    YouTube-Retargeting
2       £0.56   £19.11     TikTok-Prospecting
3       £0.06    £2.95    YouTube-Retargeting
4       £0.49   £17.00    YouTube-Prospecting
...       ...      ...                    ...
19995   £1.22   £15.98   SnapChat-Prospecting
19996  £34.02  £295.79   Facebook-Prospecting
19997   £1.86   £53.14   SnapChat-Prospecting
19998   £0.89    £3.51  Instagram-Retargeting
19999  £23.55  £134.12   Facebook-Prospecting

[20000 rows x 15 columns]

# Re-order Columns

In [22]:
df= df[['Day', 'Platform','Campaign Name', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Spend', 'Region', 'AdCreative', 'CTR', 'CPA',
       'CPC', 'CPM']]
print("Columns have been successfully re-ordered")

Columns have been successfully re-ordered

# Some basic statistics related to the marketing data

In [26]:
statistics = df.describe()
print(statistics)

        Impressions       Clicks   Conversions           CTR
count   20000.00000  20000.00000  20000.000000  20000.000000
mean    50381.32740   1299.40235     98.572150      0.062054
std     29825.02892    998.95896     77.277841      0.157797
min       802.00000      4.00000      6.000000      0.000044
25%     25009.00000    361.00000     35.000000      0.008689
50%     49386.50000   1164.00000     67.000000      0.024086
75%     73852.25000   1994.00000    161.000000      0.051643
max    119942.00000   3998.00000    299.000000      3.680872

# Verify df(s)

In [28]:
df.head()

,Day,Platform,Campaign Name,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CTR,CPA,CPC,CPM
0,01/01/23,SnapChat,SnapChat-Retargeting,Retargeting,102704,1593,157,"£3,910.74££",£2101.08,East Midlands,CreativeC,0.015511,£13.38,£1.32,£20.46
1,01/01/23,YouTube,YouTube-Retargeting,Retargeting,83904,1798,110,"£11,700.93££",£6955.66,East Midlands,CreativeC,0.021429,£63.23,£3.87,£82.90
2,01/01/23,TikTok,TikTok-Prospecting,Prospecting,77023,2644,261,"£9,756.09££",£1471.76,North East,CreativeB,0.034327,£5.64,£0.56,£19.11
3,01/01/23,YouTube,YouTube-Retargeting,Retargeting,34385,1570,42,"£4,341.76££",£101.55,London,CreativeC,0.045659,£2.42,£0.06,£2.95
4,01/01/23,YouTube,YouTube-Prospecting,Prospecting,78641,2731,11,"£8,860.43££",£1337.07,West Midlands,CreativeA,0.034727,£121.55,£0.49,£17.00

# Save to CSV

In [27]:
df.to_csv('Marketingcleaningdata.csv')
print("CSV file marketing campaign has been saved successfully")

CSV file marketing campaign has been saved successfully