# Import packages

In [18]:
pwd

'/Users/jamilah/Python/Marketing'

# Read in file(s)

In [19]:
import pandas as pd
file_path= "/Users/jamilah/Python/Marketing/marketing_campaign_data_py.csv"

df = pd.read_csv(file_path)
print ("CSV file has been successfully read in.")

CSV file has been successfully read in.

# Verify df(s)

In [20]:
print(df)

           Date   Campaign Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue       Cost            Region AdCreative
0       $3,910.74  $2,101.08     East Midlands  CreativeC
1      $11,700.93  $6,955.66     East Midlands  CreativeC
2       $9,756.09  $1,471.76        North East  CreativeB
3       $4,341.76    $101.55            London  CreativeC
4       $8,860.43  $1,337.07     West Midlands  CreativeA
...           ...        ...               ...        ...
19995     $803.95  $1,461.74  Northern Ireland  CreativeA
19996   $7,311.93  $4,559.23            London  CreativeC
19997   $3,601.11  $3,650.29          Scotland  CreativeB
19998   $7,372.90    $323.18     West Midlands  CreativeB
19999   $8,721.89  $6,925.09            London  CreativeC

[20000 rows x 10 columns]

# Reorder Columns

In [21]:
print(df.columns)

Index(['Date', 'Campaign', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Cost', 'Region', 'AdCreative'],
      dtype='object')

In [25]:
 df.rename(columns={'Date': 'Day', 'Cost': 'Spend','Campaign': 'Platform'}, inplace=True)
print ("Column names campaign, date and cost have been renamed")

Column names campaign, date and cost have been renamed

# Data Cleaning and Transformation

In [43]:
df['CPA'] = df['Spend'] / df['Conversions']

df['CTR'] = df['Clicks'] / df['Impressions']
print ("CTR column has been created.")

df['CPC']= df['Spend']/ df['Clicks']
print("CPC column has been created")

df['CPM']= (df['Spend']/ df['Impressions']) *1000
print("CPM column has been created")

df['Campaign Name']= df['Platform'] + "-" + df['Campaign Type']
print ("Campaign Name column has been created")

CTR column has been created.
CPC column has been created
CPM column has been created
Campaign Name column has been created

# Making sure the numbers are in the right format

In [44]:
df.dtypes

Day               object
Platform          object
Campaign Type     object
Impressions        int64
Clicks             int64
Conversions        int64
Revenue           object
Spend            float64
Region            object
AdCreative        object
CPA              float64
CTR              float64
CPC              float64
CPM              float64
Campaign Name     object
dtype: object

# Change CPA, CPC and CPM into currency

In [55]:
df['CPA'] = '£' + df['CPA'].apply(lambda x: '{:.2f}'.format(x))
df['CPC'] = '£' + df['CPC'].apply(lambda x: '{:.2f}'.format(x))
df['CPM'] = '£' + df['CPM'].apply(lambda x: '{:.2f}'.format(x))

ValueError: Unknown format code 'f' for object of type 'str'

# Verify df(s)

In [48]:
print(df)

            Day   Platform Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue    Spend            Region AdCreative      CPA       CTR  \
0       $3,910.74  2101.08     East Midlands  CreativeC   £13.38  0.015511
1      $11,700.93  6955.66     East Midlands  CreativeC   £63.23  0.021429
2       $9,756.09  1471.76        North East  CreativeB    £5.64  0.034327
3       $4,341.76   101.55            London  CreativeC    £2.42  0.045659
4       $8,860.43  1337.07     West Midlands  CreativeA  £121.55  0.034727
...           ...      ...               ...        ...      ...       ...
19995     $803.95  1461.74  Northern Ireland  CreativeA   £31.78  0.013131
19996   $7,311.93  4559.23            London  CreativeC   £26.35  0.008693
19997   $3,601.11  3650.29          Scotland  CreativeB   £27.24  0.028594
19998   $7,372.90   323.18     West Midlands  CreativeB   £11.14  0.003969
19999   $8,721.89  6925.09            London  CreativeC   £33.29  0.005694

          CPC      CPM          Campaign Name
0       £1.32   £20.46   SnapChat-Retargeting
1       £3.87   £82.90    YouTube-Retargeting
2       £0.56   £19.11     TikTok-Prospecting
3       £0.06    £2.95    YouTube-Retargeting
4       £0.49   £17.00    YouTube-Prospecting
...       ...      ...                    ...
19995   £1.22   £15.98   SnapChat-Prospecting
19996  £34.02  £295.79   Facebook-Prospecting
19997   £1.86   £53.14   SnapChat-Prospecting
19998   £0.89    £3.51  Instagram-Retargeting
19999  £23.55  £134.12   Facebook-Prospecting

[20000 rows x 15 columns]