In [1]:
pwd

'/Users/jamilah/Python/Marketing'

In [2]:
import pandas as pd

In [5]:
file_path= "/Users/jamilah/Python/Marketing/marketing_campaign_data_py.csv"

In [6]:
df = pd.read_csv(file_path)
print ("CSV file has been successfully read in.")

CSV file has been successfully read in.

In [7]:
print(df)

           Date   Campaign Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue       Cost            Region AdCreative
0       $3,910.74  $2,101.08     East Midlands  CreativeC
1      $11,700.93  $6,955.66     East Midlands  CreativeC
2       $9,756.09  $1,471.76        North East  CreativeB
3       $4,341.76    $101.55            London  CreativeC
4       $8,860.43  $1,337.07     West Midlands  CreativeA
...           ...        ...               ...        ...
19995     $803.95  $1,461.74  Northern Ireland  CreativeA
19996   $7,311.93  $4,559.23            London  CreativeC
19997   $3,601.11  $3,650.29          Scotland  CreativeB
19998   $7,372.90    $323.18     West Midlands  CreativeB
19999   $8,721.89  $6,925.09            London  CreativeC

[20000 rows x 10 columns]

In [8]:
print(df.columns)

Index(['Date', 'Campaign', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Cost', 'Region', 'AdCreative'],
      dtype='object')

In [9]:
df.head()

,Date,Campaign,Campaign Type,Impressions,Clicks,Conversions,Revenue,Cost,Region,AdCreative
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA

In [10]:
 df.rename(columns={'Date': 'Day', 'Cost': 'Spend','Campaign': 'Platform'}, inplace=True)
print ("Column names campaign, date and cost have been renamed")

Column names campaign, date and cost have been renamed

In [22]:
df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CPA,CTR,CPC,CPM
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74",2101.08,East Midlands,CreativeC,13.382675,1.551059,1.318945,20.457626
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93",6955.66,East Midlands,CreativeC,63.233273,2.142925,3.868554,82.900219
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09",1471.76,North East,CreativeB,5.638927,3.432741,0.556641,19.108059
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",101.55,London,CreativeC,2.417857,4.565944,0.064682,2.953323
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43",1337.07,West Midlands,CreativeA,121.551818,3.472743,0.489590,17.002200

In [21]:
df['Spend'] = df['Spend'].str.replace('[\$,]', '', regex=True).astype(float)

AttributeError: Can only use .str accessor with string values!